@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto Da Khaled</h1>
    <p> <a href="https://khaledhani.code.blog/">Social del creatore della pagina</a>.</p>
</div>
